body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-style{
  background-color: #fbecec;
}
.nav-bar-color{
  background-color: #a3d2ca;
}

.login-container{
  display: flex;
  justify-content: center;
  margin-top: 5rem;  
  
}

.login{
  padding: 3rem;
  border-radius: 3%;
  background-color: #a3d2ca;
}

.containerHeroes{
  display: flex;
  justify-content: space-around;
}

.cardHero{
  margin: 1rem;
  padding: 0;
}

.cardHero img{
  padding: 0.5rem;
  border-radius: 3%;
  max-width: 540px;
}

.imgHero{
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: cover;
  object-position: center center;
}

.banner{
  position: relative;
  padding: 0;
  margin: 0;
}

.banner h1{
  position: absolute;
  top: 30%;

  padding: 1rem 2.5rem;
  margin: 0;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.6);
}

.formStyle{
  display: flex;
  justify-content: center;
  margin:0;
  padding: 20px;

  background-color: #a3d2ca7c;
}

.helloUser{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  color: #00416d;
  font-weight: 500;
}

.logout{
  color: white;
  
}



/* .dcBanner{
  background-image: url("../public/assets/banners/DCHeroes.jpg");
} */